* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
}

.canva {
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  border: 10px solid brown;
}
